altgraph==0.17
asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2020.12.5
Django==4.1.3
django-cors-headers==3.13.0
django-environ==0.9.0
django-filter==22.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
future==0.18.2
importlib-metadata==5.1.0
macholib==1.16.2
Markdown==3.4.1
numpy==1.20.1
opencv-python==4.5.1.48
pefile==2019.4.18
Pillow==9.3.0
PyInstaller==3.6
PyJWT==2.6.0
python-dotenv==0.21.0
pytz==2022.6
sqlparse==0.4.3
torch==1.8.0
torchvision==0.9.0
typing-extensions==3.7.4.3
tzdata==2022.7
wincertstore==0.2
zipp==3.11.0
