{% load i18n %}{% autoescape off %}
{% blocktranslate %}MOVA의 계정 비밀번호를 초기화하기 위한 요청으로 이 이메일이 전송되었습니다.{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://www.chorim.shop{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}The MOVA team{% endblocktranslate %}

{% endautoescape %}